.navbar{
  width: 100%;
  height: 80px;
  padding: 10px;
  background: black;
  line-height: 80px;
}
ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
}
a{
  text-decoration: none;
  color: #fffff6;
  display: block;
  position: relative;
}
li::after{
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 0px;
  width: 0%;
  height: 2px;
  background: white;
  transition: 0.3s all;
}
li{
  position: relative;
}
li:hover::after{
  width: 100%;
  background: #534499;
  transition: 0.3s all;
}
.visited{
  font-size: 1.5rem;
  color: #845ec2;
}
/* li:hover span.Selected{
  display: block;
  position: absolute;
  top: -1rem;
  left: -2rem;
  width: 40px;
  height: 40px;
  background: black;
  clip-path: polygon(322px 32px,316px 231px,264px 180px,205px 232px,208px 29px);
  clip-path: url("#clipPolygon");
} */
